h2 {
  font-size: 150%;
  text-align: center;
  font: "Comic Sans MS";
  padding: 0px 0px;
}
.topnav input {
  border-radius: 30px;
  margin: 3px 5px;
  float: right;
  padding: 9px 8px;
  background-color: #ff00aa;
  color: white;
}
.topnav img {
  margin: -8px;
}
.main {
  background-color: #3B3B3B;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(247, 247, 247);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(247, 247, 247);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(247, 247, 247);
}
.test {
  margin-bottom: 5px;
  float: left;
  background-color: #ff00aa;
  color: #ffffff;
  width: 225px;
  text-align: center;
  margin: 7px;
  display: none;
}
.filterDiv {
  float: left;
  background-color: #ff00aa;
  color: #ffffff;
  width: 250px;
  text-align: left;
  margin: 7px;
  margin-bottom: none;
  display: none;
  padding-bottom: 3px;
  border-radius: 15px;
}
.filterDiv img {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-bottom: none;
  margin-bottom: none;
  text-align: center;
  width: auto;
  height: 230px;
  border-radius: 10px;
  border-bottom: 2px solid white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.filterDiv pr {
  word-wrap: break-word;
  width: 210px;
  margin-top: none;
  margin: 8px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 12px;
  display: block;
  text-overflow: ellipsis;
}
.test button {
  display: block;
  margin: 12px;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border-radius: 30px;
  margin: 5px 0px;
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.cartpro {
  border: 5px red;
  background-color: red;
}

.cartimg {
  display: block;
  text-align: center;
  width: auto;
  height: 230px;
  border-radius: 10px;
  border: 2px white solid;
  float: left;
}

.cartbut{
  margin-top: 90px;
  float: right;
  background-color: #4CAF50;
  border: 0px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.cartitem {
  width: 99%;
  text-align: center;
  border: 5px #ff00aa solid;
  padding: 5px;
  border-radius: 20px;
  background-color: #ff00aa;
  display: inline-block;
}