h2 {
  font-size: 150%;
  text-align: center;
  font: "Comic Sans MS";
  padding: 0px 0px;
}
.topnav input {
  border-radius: 30px;
  margin: 3px 5px;
  float: right;
  padding: 9px 8px;
  background-color: #04AA6D;
  color: white;
}
.main {
  background-color: #3B3B3B;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(247, 247, 247);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(247, 247, 247);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(247, 247, 247);
}
.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border-radius: 30px;
  margin: 5px 0px;
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}